<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.alkisum.android.sofatime">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".app.SofaTimeApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity
            android:name="com.alkisum.android.sofatime.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.alkisum.android.sofatime.activities.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName="com.alkisum.android.sofatime.activities.MainActivity">
        </activity>
        <activity
            android:name="com.alkisum.android.sofatime.activities.AboutActivity"
            android:label="@string/about_title"
            android:parentActivityName="com.alkisum.android.sofatime.activities.SettingsActivity">
        </activity>

        <service android:name=".net.VlcRequestService"/>
    </application>

</manifest>